# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/style/App.css.map
build FCC/asset-manifest.json
build FCC/favicon.ico
build FCC/index.html
build FCC/logo192.png
build FCC/logo512.png
build FCC/manifest.json
build FCC/robots.txt
build FCC/surge-README.txt
build FCC/static/css/main.180fc81e.chunk.css
build FCC/static/css/main.180fc81e.chunk.css.map
build FCC/static/js/2.ab45f942.chunk.js
build FCC/static/js/2.ab45f942.chunk.js.LICENSE.txt
build FCC/static/js/2.ab45f942.chunk.js.map
build FCC/static/js/3.644e7d97.chunk.js
build FCC/static/js/3.644e7d97.chunk.js.map
build FCC/static/js/main.a676674e.chunk.js
build FCC/static/js/main.a676674e.chunk.js.map
build FCC/static/js/runtime-main.2c945924.js
build FCC/static/js/runtime-main.2c945924.js.map
FCC build/asset-manifest.json
FCC build/favicon.ico
FCC build/index.html
FCC build/logo192.png
FCC build/logo512.png
FCC build/manifest.json
FCC build/robots.txt
FCC build/static/css/main.d563dc7a.chunk.css
FCC build/static/css/main.d563dc7a.chunk.css.map
FCC build/static/js/2.ab45f942.chunk.js
FCC build/static/js/2.ab45f942.chunk.js.LICENSE.txt
FCC build/static/js/2.ab45f942.chunk.js.map
FCC build/static/js/3.644e7d97.chunk.js
FCC build/static/js/3.644e7d97.chunk.js.map
FCC build/static/js/main.586b0349.chunk.js
FCC build/static/js/main.586b0349.chunk.js.map
FCC build/static/js/runtime-main.2c945924.js
FCC build/static/js/runtime-main.2c945924.js.map
