footer {
    text-align: center;
    font-size: 0.8em;
    margin: 48px -8px -8px;
    padding: 0.5em;
    background: linear-gradient(to bottom, #f3f3f3 5%, #9F9FFF);
    p {
        margin-bottom: 0px;
    }
}