// imports:
@import "editor";
@import "preview";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #f3f3f3;
}
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.4em;
}

@media only screen and (min-width: 48em) {
    .App {
        flex-direction: row;
        overflow-y: hidden;
        align-content: center;
    }
}
